.ListContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}
.all__movies {
  padding-left: 30px;
  padding-right: 30px;
}
.TreadingHome3 {
  padding-left: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(173, 226, 240, 0.1) !important;
}
.ListContent2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.all {
  position: relative;
  margin: 40px 0;
}
.all::after {
  content: "";
  position: absolute;
  background: rgba(11, 5, 65, 0.7);
  height: inherit;
  width: inherit;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.ListContent3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: absolute;
  align-items: center;
}
.title__home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}
.view__more Link:hover {
  text-decoration: none !important;
}

.my__main {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  margin: 30px 0 auto;
}
.TreadingHome {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
